table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

td,button {
  height: 30px;
  width: 30px;
  background-color: #C0C0C0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.revealed {
  font-family: "Press Start";
  background-color: #C0C0C0;
  font-size: 80%;
  text-align: center;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

button:focus {outline:0;}