table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

td,button {
  border-collapse: collapse;
  text-align: :center;
  width:30px;
  height:30px;
  border: 1px solid black;
}
